#!/usr/bin/env xdg-open
[Desktop Entry]
Name=BabaGanesha
Comment=BabaGanesha
Icon = "/home/pranay/Downloads/seg/fruit.xpm"
Exec= "/home/pranay/Downloads/seg/MaaDurga.py"
Terminal=true
Type=Application
Categories=Application;  

